* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #161722;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: var(--beige);
  text-transform: uppercase;
  font-size: 16px;
  padding: 24px 64px;
}

.btn-small {
  padding: 20px 40px;
}

.subtitle {
  font-size: 16px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

:root {
  --beige: #ffd2a4;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.third-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.church {
  padding: 128px 0;
  background: url(../imagesChurch/img/churchbg.png) center/cover no-repeat;
}

.church__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.church__title {
  margin: 16px 0 32px;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

.church__end {
  position: relative;
  left: 30px;
  margin-top: 64px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.church__end::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 1px;
  background-color: var(--beige);
  top: 12px;
  left: -30px;
}

.footer {
  padding: 64px 0;
  background-color: #161722;
  margin-top: 128px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left__text {
  margin: 8px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.footer-text {
  margin: 16px 0 24px;
}

.footer-quicklinks__title {
  color: #ffffff;
  font-size: 16px;
  line-height: 24p;
}

.footer-quicklinks__menu {
  margin: 24px 0;
  opacity: 0.78;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.connect {
  color: #ffffff;
  font-size: 16px;
  line-height: 24p;
  display: flex;
  flex-direction: column;
}

.connect__icon {
  margin-top: 21.5px;
  display: flex;
  justify-content: space-around;
}

.footer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.form__input {
  background-color: #161732;
  color: #ffffff;
  padding: 24px 64px;
}

.header {
  background-color: #0d0d0d;
  padding: 12px 0;
}

.header__link {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5647058824);
}

.header__left {
  display: flex;
  column-gap: 128px;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  column-gap: 48px;
}

.header__title {
  position: relative;
}

.header__title::before {
  content: "";
  height: 80px;
  width: 2px;
  background-color: white;
  position: absolute;
  top: -20px;
  right: -64px;
}

.last-section {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 128px 0;
  padding: 128px 366px;
  background-image: url(../imagesChurch/img/Background.png);
}

.last-section-inner {
  background-color: white;
  border-bottom: 16px solid var(--beige);
  padding: 72px 40px 72px 48px;
}

.last-section__text {
  padding: 16px 0;
}

.last-section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

.last-section-cards {
  display: flex;
  gap: 24px;
}

.last-section__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.last-section__card {
  padding: 48px 32px;
  background: #fff5eb;
}

.last-section__card-subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  color: #dc9853;
}

.last-section-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-section__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin: 16px 0;
}

.last-section__card-name {
  padding: 4px;
  margin-top: 48px;
  font-size: 18px;
  line-height: 21px;
}

.read-more__link::after {
  content: url(/Church/imagesChurch/icon/Shape.png);
}

.read-more {
  margin-bottom: 128px;
}

.read-more__title {
  margin: 16px 0;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.01em;
}

.read-more__subtitle {
  padding-top: 64px;
  line-height: 19px;
}

.read-more__text {
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  opacity: 0.78;
}

.section-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.read-more__images {
  display: flex;
  justify-content: center;
  margin: 104px 0 232px;
  column-gap: 438px;
}

.read-more__link {
  margin: 16px auto;
}

.read-more__btn {
  flex: none;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
}

.read-more__img {
  position: absolute;
  top: 168px;
}

.sub-church__title {
  margin: 64px 0 16px;
  text-align: center;
}

.sub-church__cards {
  display: flex;
  column-gap: 24px;
}

.sub-church__card {
  background-color: #fff5eb;
  padding: 80px;
  border-bottom: 16px solid #ffd2a4;
}

.sub-church__card-title {
  padding: 24px 0 8px;
}

.sub-church__subtitle {
  margin: 128px 0 16px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.sub-church__text {
  display: block;
  text-align: center;
}

.watch-listen {
  background-color: #f5f2f0;
  padding: 128px 0;
}

.watch-listen__text {
  text-align: center;
  display: block;
}

.watch-listen__title {
  text-align: center;
  display: block;
  padding: 20px 0 64px;
}

.watch-listen-cards {
  display: flex;
  gap: 24px;
  color: white;
}
.cards__one {
  padding: 208px 32px 32px;
  background-image: url(..//imagesChurch/img/fashion-man-love-people-5875438.png);
}

.cards__second {
  background-image: url(../imagesChurch/img/a-statue-holding-a-holy-book-5613134.png);
}

.cards__third {
  background-image: url(..//imagesChurch/img/man-people-woman-connection-6276711.png);
}

.cards__forth {
  background-image: url(..//imagesChurch/img/woman-in-blue-tank-top-and-man-in-red-shirt-painting-3795022.png);
}

.watch-listen-card {
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  padding: 296px 32px 32px;
  background-repeat: no-repeat;
}

.watch-listen-cards_white {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.78;
  margin: 16px 0 32px;
}

.join-us__text {
  margin: 128px 0 16px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #161722;
}

.join-us__title {
  margin-bottom: 64px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #161722;
}

.join-us__cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.join-us__card {
  position: relative;
  padding: 61px 32px 61px 89px;
  background-color: #fff5eb;
}

.join-us__img {
  background-repeat: no-repeat;
  background-size: cover;
}

.join-us__btn {
  color: #ffd2a4;
  background-color: #161722;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  padding: 24px 64px;
  margin: 32px 0 61px;
}

.join-us__card__title {
  padding: 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #161722;
}

.join-us__card__text {
  margin: 16px 0;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  position: relative;
}

.join-us__card__data {
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px 32px 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #161722;
}

.join-us__card__data2 {
  position: absolute;
  top: 56px;
  right: 0;
  padding-right: 32px;
}

.join-us-card__top-text {
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
}

.time {
  display: flex;
}

.time::before {
  padding: 16px 16px 0 0;
  content: url(/Church/imagesChurch/icon/Clock\ icon.png);
}

.place {
  display: flex;
}

.place::before {
  padding: 16px 16px 0 0;
  content: url(/Church/imagesChurch/icon/Icon.png);
}

.join-us_link {
  position: relative;
  display: block;
  text-align: end;
  font-size: 24px;
  line-height: 32px;
  color: #161722;
}

.join-us_link::after {
  position: absolute;
  top: -10%;
  padding-left: 11px;
  content: url(/Church/imagesChurch/icon/Shape.png);
} /*# sourceMappingURL=header.css.map */
